@import url(http://fonts.googleapis.com/css?family=Pacifico);

@font-face{
	font-family: 'HaloHandletter';
	src: url('../fonts/halohandletter-webfont.eot');
	src: url('../fonts/halohandletter-webfont.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/halohandletter-webfont.woff') format('woff'),
	     url('../fonts/halohandletter-webfont.ttf') format('truetype'),
	     url('../fonts/halohandletter-webfont.svg#webfont') format('svg');
}

$docHeight: 6000px !default;

body {
	min-height: $docHeight;
}

.navbar-brand {

}

#main-container {
	h1 {
		font-family: "HaloHandletter";
		color: rgb(83, 29, 29);
		font-size: 8.3em;
		line-height: 1.5;
	}
}
