<div id="hero-carousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#hero-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#hero-carousel" data-slide-to="1"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      {% image '@ElleOLFEBundle/Resources/public/images/flowers.jpg' output='/images/flowers.jpg' %}
          <img src="{{ asset_url }}" alt="Flowers on a desk"/>
      {% endimage %}
      <div class="carousel-caption">
        hi
      </div>
    </div>
    <div class="item">
      {% image '@ElleOLFEBundle/Resources/public/images/stock-photo-44464078-office-table-with-notepad-computer-flower-and-coffee-cup.jpg' output='/images/desk.jpg' %}
          <img src="{{ asset_url }}" alt="Some desk" width="100%"/>
      {% endimage %}
      <div class="carousel-caption">
        hi again
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#hero-carousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#hero-carousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>